<div class="h-screen w-screen">
  <div class="flex flex-col w-full h-full">
    <div class="h-20 border w-full">

    </div>
    <div class="grow w-full h-full">
      <div class="flex flex-col w-full h-full">
        <div class="flex h-full">
          <div class="flex-grow w-full h-full bg-gray-200">
            <div class="flex flex-col h-full w-full p-10 space-y-10">
              <div class="py-2 h-[60px] w-full border rounded-xl shadow-lg flex items-center justify-center bg-white divide-x-2 divide-gray-500">
                <div class="flex space-x-4 px-4 items-center">
                  <img src="assets/resize.png" (click)="resizeElement()" alt="text" [class.bg-gray-300]="resizableMenu" class="h-[35px] w-[35px] cursor-pointer rounded" title="resize">
                  <img src="assets/all-directions.png" (click)="makeElementDraggable()" alt="img" [class.bg-gray-300]="draggableMenu" class="h-[35px] w-[35px] cursor-pointer rounded" title="drag">
                </div>
                <div class="flex space-x-4 px-4 items-center">
                  <img src="assets/text.png" alt="text" (click)="createText()" class="h-[35px] w-[35px] cursor-pointer">
                  <img src="assets/image.png" alt="img" (click)="photo.value = ''; photo.click()" class="h-[35px] w-[35px] cursor-pointer">
                </div>
                <div class="px-4">
                  <img src="assets/shapes.png" (click)="openShapesMenu()" alt="img" class="h-[35px] w-[35px] cursor-pointer">
                </div>
              </div>
              <div class="grow h-full w-full overflow-auto">
                <div class="border border-gray-400 shadow-lg h-full w-full flex relative drag-box bg-white overflow-hidden" (click)="selectBackground()">
                </div>
              </div>
            </div>
          </div>

          <div class="flex-none w-[300px] border-l h-full p-[5px]">
            <ng-container *ngIf="showPortal">
              <app-shapes-container (onCreateShape)="createShape($event)"></app-shapes-container>
            </ng-container>
            <ng-container *ngIf="showTextEdit">
              <ng-container *ngIf="selectedElement?.id">
                <label>Text</label>
                <textarea class="border w-full rounded" cols="4" [(ngModel)]="selectedElement.content" (ngModelChange)="updateSelectedItem()"></textarea>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="showShapeEditor">
              Shape Editor
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden">
  <div class="absolute -right-2 w-4 h-4 bg-black border border-white resize-node-e pointer-events-none"> </div>
  <div class="absolute -left-2 w-4 h-4 bg-black border border-white resize-node-w pointer-events-none"> </div>
  <div class="absolute -right-2 -bottom-2 w-4 h-4 bg-black border border-white resize-node-se"> </div>
</div>

<input type="file" accept="image/*" (change)="onImageChange($event)" #photo hidden>

